body {
    background: #f8f9fd;
    font-size : small;
    margin: 0;
    padding: 0 9rem;
}

.container {
    padding-top: 1rem;
}

.ui-widget {
    font-size: small !important;
}

.ui-panel-titlebar {
    text-align: center;
}

.table-no-header thead {
    display: none;
}

.ui-menu.ui-menubar {
    border-radius: 0 !important;
    border-width: 0 0 1px 0 !important;
}

.table-no-header thead {
    display: none;
}

.btn-logout {
    position: relative;
    top: 8px;
}

.ui-card {
    border-radius: 23px !important;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 10%) !important;
}

.ui-card .ui-card-body {
    padding: 0.7rem 1.8rem !important;
}

.ui-card .ui-card-title {
    margin-top: 0.7rem !important;
}

.ui-card .ui-card-subtitle {
    margin-top: 0.7rem !important;
    font-size: 0.9rem !important;
}

.ui-float-label .ui-outputlabel {
    left: 14px !important;
    margin-left: 0 !important;
}

.ui-inputfield,
.ui-messages-error,
.ui-messages-info,
.ui-messages-warn,
.ui-autocomplete-panel,
.ui-dialog,
.ui-menu,
.ui-button {
    border-radius: 17px !important;
}

.ui-menu {
    overflow: hidden !important;
    width: 11rem !important;
    border: none !important;
}

.ui-state-focus {
    box-shadow: none !important;
}

.ui-inputfield,
.ui-button,
.ui-inputwrapper,
.ui-autocomplete,
.ui-autocomplete .ui-autocomplete-input-token,
.ui-autocomplete .ui-autocomplete-input-token input{
    width: 100% !important;;
}

.ui-inputfield {
    padding: 15px !important;
}

.ui-password-icon {
    font-size: 18px;
}

.ui-messages-error,
.ui-messages-warn,
.ui-messages-info {
    margin: 0 0 28px 0 !important;
}

.ui-button {
    padding: 8px 15px !important;
    font-size: larger !important;
}

.ui-card .ui-card-title {
    margin-bottom: 1rem !important;
}

.mb-2 {
    margin-bottom: 2rem !important;
}

.p-field-float {
    margin-bottom: 2rem;
}

#header {
    padding: 1.5rem 0;
    position: relative;
}

#header .avatar-container {
    float: right;
    padding-bottom: 15px;
}

.ui-avatar {
    cursor: pointer;
}
.ui-avatar:hover {
    box-shadow: #0000003d 0 0 6px;
}

.ui-button.ui-button-text-icon-left .ui-icon {
    left: 1rem !important;
}

.p-grid > [class*=p-col] {
    padding: 0.5rem 1rem;
}

.p-grid > [class*=p-col]:first-child {
    padding-left: 0.5rem !important;
}

.p-grid > [class*=p-col]:last-child {
    padding-right: 0.5rem !important;
}

.ui-scrollpanel {
    border: none !important;
}

.ui-scrollpanel-drag {
    width: 9px;
    border-radius: 8px;
    background: #9d9d9d;
}

.ui-scrollpanel-vbar {
    width: 9px !important;
}

.trade-items {
    max-height: 200px;
    margin-top: 1.1rem;
}

.trade-item {
    padding-right: 6px;
    cursor: pointer;
}

.trade-item:hover {
    opacity: 0.5;
}

.trade-item:not(:first-child) {
    margin-top: 1rem;
}

.trade-item .trade-item__name {
    font-weight: bolder;
}

.trade-item .trade-item__sub-info {
    margin-top: 3px;
    color: #969696;
}

.trade-item .trade-item__sub-info span:last-child {
    float: right;
}

.ui-dialog {
    border: none !important;
}
.ui-dialog-content {
    border: none !important;
    padding: 1.8rem !important;
}

.ui-dialog-footer {
    border-top: none !important;
}

.ui-dialog-footer .ui-button {
    width: auto !important;
    padding: 1px 4px !important;
    font-size: medium !important;
    border-radius: 11px !important;
}

.modal-footer {
    padding: 0 !important;
    padding-top: 1.4rem !important;
}

.variation.green {
    color: #62c432
}

.variation.red {
    color: #ec4646
}

.ui-dialog-titlebar {
    background: white !important;
    border: none !important;
    padding-left: 1.8rem !important;
}

.ui-dialog-titlebar .ui-dialog-title {
    position: relative;
    top: 7px;
}

.ui-datatable .ui-datatable-data > tr > td,
.ui-datatable thead th {
    border: none !important;
    padding: 0.871rem !important;
}

.ui-datatable thead th:first-child,
.ui-datatable .ui-datatable-data > tr > td:first-child {
    border-radius: 14px 0 0 14px !important;
}

.ui-datatable thead th:last-child,
.ui-datatable .ui-datatable-data > tr > td:last-child {
    border-radius: 0 14px 14px 0 !important;
}