body, html, .container-user {
    height: 100%;
    padding: 0!important;
}

.container-user {
    display: flex;
    align-items: stretch;
    background: #83c5ff;
}

.container-user > div:first-child {
    background-image: url(../images/illustration-2.png);
    width: 47%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    padding: 2rem 2rem 2rem 6rem;
}

.container-user > div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.container-user > div:last-child .ui-card {
    width: 580px;
}

.container-user .login-form .ui-messages-info {
    background-color: #AEF36E;
}

.ui-card .ui-card-body {
    padding: 0.9rem 2.2rem !important;
}