<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:dialog widgetVar="addCompanies" showHeader="false"
              minHeight="40" width="600" draggable="false"
              showEffect="fade" modal="true">
        <h:form>
            <p:messages/>
            <p:autoComplete id="addCompaniesInput"
                            value="#{addCompanies.selectedCompanies}"
                            completeMethod="#{addCompanies.searchCompanies}"
                            var="c" itemLabel="#{c.name}" itemValue="#{c}"
                            converter="companyConverter" forceSelection="true"
                            multiple="true" scrollHeight="250" required="true"
                            placeholder="${msg['trade.find-company']}"/>

            <div class="ui-dialog-footer modal-footer">
                <p:commandButton value="${msg['app.close']}" onclick="PF('addCompanies').hide()"
                                 styleClass="ui-button-secondary" />
                <p:commandButton value="${msg['app.add']}"
                                 action="#{addCompanies.save()}"
                                 update="@form" />
            </div>
        </h:form>
    </p:dialog>
</ui:composition>