<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:dialog widgetVar="editAccount" header="Modification du compte"
              minHeight="40" width="600" draggable="false"
              showEffect="fade" modal="true">
        <h:form>
            <!-- todo : refactor with signin template ! -->
            <p:messages id="messages" showDetail="true" showIcon="false" skipDetailIfEqualsSummary="true">
                <p:autoUpdate/>
            </p:messages>

            <div class="p-field-float">
                <span class="ui-float-label">
                    <p:inputText id="email" value="${editAccount.object.userName}"
                                 validatorMessage="Adresse e-mail invalide"
                                 type="email" required="true" autocomplete="off">
                        <f:validateRegex pattern="${superView.emailPattern}"/>
                    </p:inputText>
                    <p:outputLabel for="@previous" value="${msg['app.email']}"/>
                </span>
            </div>

            <div class="p-field-float">
                <span class="ui-float-label">
                    <p:password id="password" value="${editAccount.object.confirmPassword}"
                                toggleMask="true" redisplay="true" match="confirm"
                                feedback="true" autocomplete="off"/>
                    <p:outputLabel for="@previous" value="${msg['app.password']}"/>
                </span>
            </div>

            <div class="p-field-float">
                <span class="ui-float-label">
                    <p:password id="confirm" value="${editAccount.object.confirmPassword}"
                                autocomplete="off"/>
                    <p:outputLabel for="@previous" value="${msg['app.confirm-password']}"/>
                </span>
            </div>

            <div>
                <p:commandButton update="@form growl" value="${msg['app.save']}"
                                 oncomplete="PF('editAccount').hide()"
                                 action="${editAccount.save()}"/>
            </div>
        </h:form>
    </p:dialog>
</ui:composition>