<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="login.xhtml">
    <ui:define name="error">
        <div class="ui-messages ui-widget" aria-live="polite">
            <div class="ui-messages-error ui-corner-all">
                Authentification échouée. Veuillez vérifier votre adresse e-mail et/ou mot de passe.
            </div>
        </div>
    </ui:define>
</ui:composition>