<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="user.xhtml">
<ui:define name="content">
    <h:form onsubmit="action = 'j_security_check';"
            styleClass="login-form"
            prependId="false">
        <p:card>
            <f:facet name="title" class="mb-2">
                ${msg['app.login']}
            </f:facet>

            <p:messages id="messages" showIcon="false" escape="false" />

            <ui:insert name="error" />

            <div class="p-field-float">
                <span class="ui-float-label">
                    <p:inputText id="j_username" required="true" />
                    <p:outputLabel for="@previous" value="${msg['app.email']}"/>
                </span>
            </div>

            <div class="p-field-float">
                <span class="ui-float-label">
                    <p:password id="j_password" required="true"
                                toggleMask="true" redisplay="true"/>
                    <p:outputLabel for="@previous" value="${msg['app.password']}"/>
                </span>
            </div>

            <div>
                <p:commandButton ajax="false" value="Continuer" />
            </div>

            <p:divider style="margin: 2rem 0;" />

            <div style="color: #747474;">
                Vous n'avez pas de compte ? <p:link outcome="signin" value="Créez-en un maintenant."/>
            </div>
        </p:card>
    </h:form>
</ui:define>
</ui:composition>
