<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="user.xhtml">
    <ui:define name="content">
        <h:form>
            <p:card>
                <f:facet name="title" class="mb-2">
                    ${msg['app.signin']}
                </f:facet>

                <p:messages id="messages" showDetail="true" showIcon="false" skipDetailIfEqualsSummary="true">
                    <p:autoUpdate/>
                </p:messages>

                <div class="p-field-float">
                    <span class="ui-float-label">
                        <p:inputText id="email" value="${signin.object.userName}"
                                     validatorMessage="Adresse e-mail invalide"
                                     type="email" required="true" autocomplete="off">
                            <f:validateRegex pattern="${superView.emailPattern}"/>
                        </p:inputText>
                        <p:outputLabel for="@previous" value="${msg['app.email']}"/>
                    </span>
                </div>

                <div class="p-field-float">
                    <span class="ui-float-label">
                        <p:password id="password" value="${signin.object.confirmPassword}" required="true"
                                    toggleMask="true" redisplay="true" match="confirm"
                                    feedback="true" autocomplete="off"/>
                        <p:outputLabel for="@previous" value="${msg['app.password']}"/>
                    </span>
                </div>

                <div class="p-field-float">
                    <span class="ui-float-label">
                        <p:password id="confirm" value="${signin.object.confirmPassword}"
                                    required="true" autocomplete="off"/>
                        <p:outputLabel for="@previous" value="${msg['app.confirm-password']}"/>
                    </span>
                </div>

                <div>
                    <p:commandButton update="@form" value="Continuer"
                                     action="${signin.save()}"/>
                </div>

                <p:divider style="margin: 2rem 0;" />

                <div style="color: #747474;">
                    Vous avez un compte ? <p:link outcome="login" value="Connectez vous maintenant."/>
                </div>
            </p:card>
        </h:form>
    </ui:define>
</ui:composition>