<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <h:outputStylesheet name="/css/default.css"/>
    <h:outputStylesheet name="/css/user.css"/>
    <title>#{msg['app.signin']}</title>
</h:head>
<h:body>
    <div class="container-user">
        <div></div>
        <div>
            <ui:insert name="content" />
        </div>
    </div>
</h:body>
</html>