<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:form>
        <p:card>
            <p:dataTable var="u" value="${admin.objects}" stripedRows="true">
                <p:column headerText="${msg['app.email']}">
                    <h:outputText value="${u.userName}"/>
                </p:column>
                <p:column headerText="Actif">
                    <p:selectBooleanCheckbox value="#{u.isActive}">
                        <p:ajax update="@form" listener="${admin.save(u)}" process="@this" />
                    </p:selectBooleanCheckbox>
                </p:column>
            </p:dataTable>
        </p:card>
    </h:form>
</ui:composition>