<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:form id="dashBoardForm">
        <p:poll interval="15" listener="#{dashboard.init}" update="@form" oncomplete="initTextFit()" />

        <div class="p-grid home-dashboard p-mb-6">
            <div class="p-col-fixed" style="width: 300px">
                <p:card>
                    <p:commandButton type="button" value="Ajouter une action"
                                     icon="pi pi-plus" onclick="PF('addCompanies').show()" />

                    <p:scrollPanel styleClass="trade-items">
                        <p:repeat value="${dashboard.randomQuotes}" var="quote">
                            <h:panelGroup layout="block" class="trade-item">
                                <f:ajax event="click" listener="${dashboard.addQuote(quote)}" />

                                <div class="trade-item__name">
                                    ${quote.company.name}
                                </div>
                                <div class="trade-item__sub-info">
                                    <span>
                                        ${quote.company.symbol}
                                    </span>
                                    <span>
                                        <h:outputText value="${quote.quote}">
                                            <f:convertNumber type="currency" currencySymbol="€" />
                                        </h:outputText>
                                    </span>
                                </div>
                            </h:panelGroup>
                        </p:repeat>
                    </p:scrollPanel>
                </p:card>

                <p:card styleClass="p-mt-5">
                    <f:facet name="subtitle">
                        Variation moyenne
                    </f:facet>
                    <div class="fit-content variation ${dashboard.isNegativeVariation() ? 'red' : 'green'}" style="height: 50px;">
                        ${dashboard.averageVariation} %
                    </div>
                </p:card>

                <p:card styleClass="p-mt-5">
                    <f:facet name="subtitle">
                        Cotation moyenne
                    </f:facet>
                    <div class="fit-content" style="height: 50px;">
                        <h:outputText value="${dashboard.averageQuote}">
                            <f:convertNumber type="currency" currencySymbol="€" />
                        </h:outputText>
                    </div>
                </p:card>
            </div>
            <div class="p-col">
                <p:card>
                    <p:dataTable var="cart" value="${dashboard.quoteCart}" stripedRows="true">
                        <p:column headerText="Symbol">
                            <h:outputText value="#{cart.symbol}" />
                        </p:column>
                        <p:column headerText="Société">
                            <h:outputText value="#{cart.company}" />
                        </p:column>
                        <p:column headerText="Cotation">
                            <h:outputText value="${cart.quote}">
                                <f:convertNumber type="currency" currencySymbol="€" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Variation">
                            <h:outputText value="#{cart.variation}%" />
                        </p:column>
                    </p:dataTable>
                </p:card>

                <p:card styleClass="p-mt-5">
                    <p:lineChart model="#{dashboard.cotationChart}" style="width: 100%; height: 400px;"/>
                </p:card>

                <p:card styleClass="p-mt-5">
                    <p:lineChart model="#{dashboard.variationChart}" style="width: 100%; height: 400px;"/>
                </p:card>
            </div>
        </div>
    </h:form>

    <ui:include src="dialogs/add-companies.xhtml"/>
</ui:composition>