<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="./layout.xhtml">
    <ui:define name="content">
        <c:choose>
            <c:when test="#{p:ifGranted('ADMIN')}">
                <ui:include src="admin.xhtml"/>
            </c:when>
            <c:otherwise>
                <ui:include src="dashboard.xhtml" />
            </c:otherwise>
        </c:choose>
    </ui:define>
</ui:composition>