<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="/css/primeflex.css"/>
        <h:outputStylesheet name="/css/default.css"/>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/textfit/2.4.0/textFit.min.js" type="text/javascript"></script>
        <h:outputScript library="js" name="javascript.js" />
        <title>#{msg['app.title']}</title>
    </h:head>
    <h:body>
        <p:growl id="growl" />
        <p:poll interval="10" listener="${superView.checkConnection()}" />

        <h:form>
            <div id="header">
                <p:graphicImage width="46" name="images/logo.png" />

                <h:panelGroup id="avatarContainer" styleClass="avatar-container">
                    <p:avatar icon="pi pi-user" size="large" shape="circle"/>
                    <p:menu overlay="true" trigger="avatarContainer"
                            my="right top" at="right bottom">
                        <p:menuitem value="${msg['user.account']}" icon="pi pi-cog"
                                    rendered="${not p:ifGranted('ADMIN')}"
                                    onclick="PF('editAccount').show()"/>
                        <p:menuitem value="${msg['app.logout']}" icon="pi pi-sign-out" action="${userSession.logout()}"/>
                    </p:menu>
                </h:panelGroup>
            </div>
        </h:form>

        <p:card rendered="${not superView.userActive}"
                style="background: #ffe399">
            ${msg['user.not-active-1']}
        </p:card>

        <h:panelGroup layout="block" class="container"
                      rendered="${superView.userActive}">
            <ui:insert name="content">&nbsp;</ui:insert>
        </h:panelGroup>

        <ui:include src="dialogs/edit-account.xhtml"/>
    </h:body>
</html>